<%- include('../includes/head.ejs')%>
</head>

<body class="container-fluid">
    <%- include('../includes/navigation.ejs')%>  
  <div class="container">

      <div class="card text-center meeting-details-card">
          <div class="card-header">
            Meeting Details
          </div>
          
          <div class="card-body card-green">
            <h5 class="card-title"><%= meeting.description %></h5>
            <p class="card-text">Starting time: <%= meeting.start.getDate() %>.<%= meeting.start.getMonth() %>.<%= meeting.start.getFullYear() %> at <%= meeting.start.getHours() %>h </p>
            <p class="card-text">Duration: <%= meeting.duration %>h</p>
            <p class="card-text font-italic">Location: <%= location.city%>, <%= location.country %></p>
            <h3>People attending the event</h3>
            <% peopleAttending.forEach(person => { %>
              <p class='card-text badge badge-secondary meeting-cart-person'>
                  
                <a href="/persons/<%=person.id%>">
                  <%= person.first_name %>, <%= person.last_name %>
                </a>
                <a href="/meetings/<%= meeting.id %>/people/<%= person.id %>/delete"><i class="fas fa-times-circle"></i></a>
              </p>
            <% }) %>
            
          </div>
          <div class="card-footer text-muted">
              <h5>Add people to this meeting</h5>
              <form action="/meetings/add-person" method="POST">
                <select name="personId" class="form-control">
                  <% persons.forEach(person => { %>
                  <option value="<%= person.id %>">
                      <%= person.first_name %>, <%= person.last_name %>
                  </option>
                  <% }) %>
                </select><br>
                <input type="hidden" name="meeting" id="meeting" value="<%= meeting.id %>"> 
                <button type="submit"  class="btn btn-outline-success">Add person to meeting</button>
              </form>
          </div>  
          </div>
        </div>

     
<%- include('../includes/end.ejs')%>