<%- include('../includes/head.ejs')%>
</head>
<body class="container-fluid">
  <%- include('../includes/navigation.ejs')%>
  <div class="container">
    
    <h1>List of Meetings</h1>
    <% meetings.forEach(meeting => { %>
      <a href="/meetings/<%= meeting.id %>"><h3>Details about the meeting: <%= meeting.description %></h3></a>
      <p>Starting time: <%= meeting.start %></p>
      <p>Duration: <%= meeting.duration %></p>
    <% }) %>
  </div>
<%- include('../includes/end.ejs')%>