<%- include('../includes/head.ejs')%>
</head>
<body>
  <%- include('../includes/navigation.ejs')%>
  <h1>List of Meetings</h1>
  <% meetings.forEach(meeting => { %>
    <a href="/meetings/<%= meeting.id %>"><h3>Details about the meeting: <%= meeting.description %></h3></a>
    <p>Starting time: <%= meeting.start %></p>
    <p>Duration: <%= meeting.duration %></p>
  <% }) %>
<%- include('../includes/end.ejs')%>