<%- include('../includes/head.ejs')%>
</head>
<body class="container-fluid">
  <%- include('../includes/navigation.ejs')%>
    <div class="container">
    <h1>Create a contact for <%= person.first_name %> <%= person.last_name%></h1>
    <form action="/persons/<%=person.id%>/create-contact" method="POST">
      <label for="contact">Name of contact:</label>
      <input type="text" name="contact" id="contact"><br>

      
      <button type="submit">Create Contact</button>
    </form>
  </div>
<%- include('../includes/end.ejs')%></br>