<%- include('../includes/head.ejs')%>
</head>
<body>
  <%- include('../includes/navigation.ejs')%>
  <h1>Create a contact for <%= person.first_name %> <%= person.last_name%></h1>
  <form action="/persons/<%=person.id%>/create-contact" method="POST">
    <label for="contact">Name of contact:</label>
    <input type="text" name="contact" id="contact"><br>

    
    <button type="submit">Create Contact</button>
  </form>
<%- include('../includes/end.ejs')%></br>