<%- include('../includes/head.ejs')%>
</head>
<body>
  <%- include('../includes/navigation.ejs')%>
  <h1>Details about a person</h1>
      <ul>
        <li>
          <%= person.nickname %>
        </li>
        <li>
          <%= person.first_name %>
        </li>
        <li>
          <%= person.last_name %>
        </li>
        <li>
          <%= person.birth_day %>
        </li>
        <li>
          <%= person.height %>
        </li>
      </ul>
    </a>  

    <a href="/persons/<%= person.id %>/create-contact">Create a contact</a>

<%- include('../includes/end.ejs')%>