<%- include('../includes/head.ejs')%>
</head>
<body>
  <%- include('../includes/navigation.ejs')%>
  <h1>List of Persons</h1>
  <% persons.forEach(person => { %>
    <a href="/persons/<%= person.id %>">
      <ul>
        <li>
          <%= person.nickname %>
        </li>
        <li>
          <%= person.first_name %>
        </li>
        <li>
          <%= person.last_name %>
        </li>
        <li>
          <%= person.birth_day %>
        </li>
        <li>
          <%= person.height %>
        </li>
        <li>
          <%= person.locationId %>
        </li>
      </ul>
    </a>  
  <% }); %>

<%- include('../includes/end.ejs')%>