<%- include('../includes/head.ejs')%>
</head>
<body class="container-fluid">
  <%- include('../includes/navigation.ejs')%>
  <div class="container">
    <h1 class="text-center">Details about a person</h1><hr><br>
    

    <div class="card text-center">
      <div class="card-header">
        Person Details
      </div>
      
      <div class="card-body card-green">
        <h5 class="card-title"><%= person.first_name %> <%= person.last_name %></h5>
        <p class="card-text font-italic">Nickname: <%= person.nickname %></p>
        <p class="card-text">Birthday: <%= person.birth_day.getDate() %>.<%= person.birth_day.getMonth() %>.<%= person.birth_day.getFullYear() %></p>
        <p class="card-text">Height: <%= person.height %></p>
        <p class="card-text">Location: <%= location.country %></p>
        

        <p class="card-text"><a href="/persons/<%= person.id %>/create-contact" class="btn btn-primary">Create a contact</a></p>
        <a class="btn btn-danger margin-right" href="/persons/<%= person.id %>/delete"> Delete </a>
        <a class="btn btn-success" >Edit</a>
      </div>
      <div class="card-footer text-muted">
        <!-- to do: display contacts -->
      </div>
    </div>
  </div>
<%- include('../includes/end.ejs')%>